.main{
    background-color: rgb(29, 211, 32);
    width: 100%;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.main .Dropdown .link{
    background-color: grey;
    font-size: 30px;
    font-style: oblique;
    width: 200px;
    height: 50px;
    display: flex;
    align-content: center;
    transition: 3s;
    justify-content: center;
}
.main .link:hover{
    background-color: rgb(180, 179, 179);
    transition: 3s;
}
.main .LINK123{
    display: none;
}
.main .Dropdown:hover .LINK123{
    display: block;
}
.main .download:hover{
    background-color: grey;
    
}
.main .download :hover .LINK123{
    display: block;
}
